md-dialog-content {
    background: rgba(0, 158, 225, 0.26);
}

.header {
    color: #fff;
    font-size: 34px;
    font-weight: normal;
    padding: 50px 0;
    text-align: center;
    text-transform: uppercase;
}

.body {
    padding: 20px;
    text-align: center;
}

.footer {}
