<md-dialog-content class="header">
    <span md-dialog-title>Login</span>
</md-dialog-content>

<md-dialog-content class="body">
    <i class="material-icons">account_circle</i>
    <md-input-container>
        <input md-input placeholder="Username" [(ngModel)]="credentials.email">
    </md-input-container>
    <br>
    <i class="material-icons">vpn_key</i>
    <md-input-container password>
        <input type="password" md-input placeholder="Password" [(ngModel)]="credentials.password">
    </md-input-container>
</md-dialog-content>
<md-dialog-content class="footer">

</md-dialog-content>
<md-dialog-actions>
    <button md-button (click)="login()" class="md-raised md-primary">Login</button>
</md-dialog-actions>