.body-container {
    padding: 5px 55px;
    >h2 {
        color: #6C7A89;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
    > img {
        width:100%;
    }
}

.footer {
    padding: 5px 50px;
    >span {
        margin-top: 30px;
        font-size: 10px;
        color: #ccc;
    }
}
