md-toolbar {
    font-size: 14px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    width: 100%;
    padding: 5px 30px;
    z-index: 10px;
    color: #BDC3C7;
    > span {
        color: red;
    }
}

md-divider {
    display: block;
    border-top-style: solid;
    border-top-width: 1px;
    margin: 5px;
}

.body-container {
    padding: 5px 55px;
    >h2 {
        color: #6C7A89;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
}

.footer {
    padding: 5px 50px;
    >span {
        margin-top: 30px;
        font-size: 10px;
        color: #ccc;
    }
}
