<div class="body-content">
    <h2 *ngIf="options.action === 'place'"> Manage {{options.title}}</h2>
    <h2 *ngIf="options.action === 'user'"> Manage User</h2>
    <md-divider></md-divider>
    <md-toolbar class="breadcrumb">
        <a [href]="b.link" *ngFor="let b of options.breadcrumb">
            {{ b.name }}    &nbsp;
        </a>
    </md-toolbar>
    <div *ngIf="options.action === 'place'">
        <h3 md-header>{{options.title}} list</h3>
        <table>
            <thead>
                <tr>
                    <th *ngFor="let header of options.params.headers">
                        {{header.name}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detail of options.params.details">
                    <td>
                        <md-card class="place-img">
                            <img md-card-image class="place-img" [src]="detail.image">
                        </md-card>
                    </td>
                    <td>{{detail.name}}</td>
                    <td>{{detail.description}}</td>
                    <td>{{detail.contact}}</td>
                    <td>{{detail.type}}</td>
                    <td>{{detail.coordinateX}}</td>
                    <td>{{detail.coordinateY}}</td>
                </tr>
        </table>
    </div>
</div>
