.breadcrumb {
    margin: 10px 0px;
    a {
        text-decoration: none;
    }
    a:before {
        content: ' / ';
    }
    a:first-child:before {
        content: '';
    }
    a:last-child {
        color: #ccc;
    }
}

.list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    table {
        width: 100%;
        tr {
            text-align: center;
            td {
                padding: 10px 5px;
            }
        }
    }
    .place-detail {
        width: 100%;
        margin-left: 10px;
    }
    .place-img img {
        margin: 0px!important;
        width: 100%;
        height: 130px;
    }
}
