<div class="body-content">
  <h2 *ngIf="options.title === 'Place'"> Manage {{options.title}}</h2>
  <h2 *ngIf="options.title === 'Member'"> Manage {{options.title}}</h2>
  <h2 *ngIf="options.title === 'Schedule'"> Manage {{options.title}}</h2>
  <md-divider></md-divider>
  <md-toolbar class="breadcrumb">
    <a [href]="b.link" *ngFor="let b of options.breadcrumb">
            {{ b.name }}    &nbsp;
        </a>
  </md-toolbar>
  <div class="list">
    <h3 md-header>{{options.title}} list <button md-raised-button color="primary" [routerLink]="['add']"><i class="material-icons">add</i></button> </h3>
    <!-- Begin PlaceList,MemberList -->
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th *ngFor="let header of options.params.headers" [style.width.px]="header.maxWidth">
            {{header.name}}
          </th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr class="row" *ngFor="let detail of details; let i=index">
          <td>{{ i+1 }} </td>
          <td *ngFor="let header of options.params.headers">
            <div *ngIf=" header.type === 'image' ">
              <md-card class="place-img" *ngFor="let image of detail.images">
                <img md-card-image [src]="'http://139.59.231.135/map/public/images/' + image['fileName']">
              </md-card>
            </div>
            <div *ngIf=" header.type === 'text' ">
              {{ detail[header.prop] }}
            </div>
          </td>
          <td><button md-raised-button [routerLink]="['edit',detail.id]"><i class="material-icons">edit</i></button></td>
          <td><button md-raised-button (click)="delete(detail.id)" color="warn"><i class="material-icons">delete</i></button></td>
        </tr>
    </table>
    <!-- End PlaceList,MemberList -->
  </div>
</div>
