md-divider {
    display: block;
    border-top-style: solid;
    border-top-width: 1px;
    margin: 5px;
}

.body-container {
    padding: 5px 55px;
    >h2 {
        color: #6C7A89;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
}

.footer {
    padding: 5px 50px;
    >span {
        margin-top: 30px;
        font-size: 10px;
        color: #ccc;
    }
}

.ng-valid[required], .ng-valid.required  {
  border-bottom: 5px solid #42A948; /* green */
  div.md-input-underline {
    border-color: rgba(#000, 1) !important;
  }
}

.ng-invalid[required]:not(form)  {
  border-bottom: 5px solid #a94442; /* red */
}
.md-card {
    width: 20%;
    height: 130px;
}

.place-img img {
    margin: 0;
    width: 100%;
    height: 130px;
  }