<div class="body-container">
    <h2 *ngIf="options.action === 'add'">ADD {{options.title}}</h2>
    <h2 *ngIf="options.action === 'edit'">EDIT {{options.title}}</h2>
</div>
<div class="body-container">
    <form [formGroup]="formManage">
        <div>
            <div>
                <!-- {{detail?.name}} -->
            </div>
        </div>
        <div *ngFor=" let p of options.params ">
            <div *ngIf="p.type === 'text'">
                <label>{{ p.name }}</label>
                <br>
                <md-input-container>
                    <input  md-input  [formControlName]="p.name" required name="{{p.name}}" [(ngModel)]="p.value" #spy>
                </md-input-container>
                <!-- <input type="text" [formControlName]="p.name" name="{{ p.name }}" [(ngModel)]="p.value"> -->
                <div *ngIf="!formManage.controls[ p.name ].valid && !formManage.controls[ p.name ]._pristine">plz</div>
                <!-- <br>TODO: remove this: {{spy.className}} -->
            </div>
            <div *ngIf="p.type === 'password'">
                <label>{{ p.name }}</label>
                <br>
                <md-input-container>
                    <input  md-input type="password" [formControlName]="p.name" required name="{{p.name}}" [(ngModel)]="p.value" >
                </md-input-container>
                
            </div>
            <div *ngIf="p.type === 'selection'">
                <!-- <label>{{ p.name }}</label> -->
                <br>
                <md-select placeholder="{{ p.name }}" [formControlName]="p.name" [(ngModel)]="p.value">
                    <md-option *ngFor="let s of p.selections" [value]=" s.value " >
                        {{ s.name }}
                    </md-option>
                </md-select>
                <!-- <select>
                <option></option>
                <option value="{{ s.value }}" *ngFor="let s of p.selections">{{ s.name }}</option>
            </select> -->
            </div>
            <div *ngIf="p.type === 'file'">
                <input type="file" ngFileSelect [options]="picture" (onUpload)="handleUpload($event)" (beforeUpload)="beforeUpload($event)"> 
                
                Response: <img  class="place-img" *ngIf="uploadFile" [src]="'http://139.59.231.135/map/public/images/' + uploadFile.fileName"> 
                
            </div>
            <hr>
        </div>
        <!-- {{ formManage.valid }} -->
    </form>
    <button *ngIf="options.action === 'add'" md-button (click)="add()" class="md-raised md-primary">Add</button>
    <button *ngIf="options.action === 'edit'" md-button (click)="edit()" class="md-raised md-primary">Edit</button>
</div>