<div class="body-container">
    <h2 *ngIf="options.action === 'add'">ADD {{options.title}}</h2>
    <h2 *ngIf="options.action === 'edit'">EDIT {{options.title}}</h2>
</div>
<div class="body-container">
    <form [formGroup]="formManage">
        <div *ngFor=" let p of options.params ">
            <div *ngIf="p.type === 'text'">
                <label>{{ p.name }}</label>
                <br>
                <md-input-container>
                    <input md-input placeholder="{{p.name}}" [formControlName]="p.name" name="{{p.name}}" [(ngModel)]="p.value">
                </md-input-container>
                <!-- <input type="text" [formControlName]="p.name" name="{{ p.name }}" [(ngModel)]="p.value"> -->
                <div *ngIf="!formManage.controls[ p.name ].valid && !formManage.controls[ p.name ]._pristine">plz</div>
            </div>
            <div *ngIf="p.type === 'selection'">
                <!-- <label>{{ p.name }}</label> -->
                <br>
                <md-select placeholder="{{ p.name }}">
                    <md-option *ngFor="let s of p.selections" [value]=" s.value ">
                        {{ s.name }}
                    </md-option>
                </md-select>
                <!-- <select>
                <option></option>
                <option value="{{ s.value }}" *ngFor="let s of p.selections">{{ s.name }}</option>
            </select> -->
            </div>
            <hr>
        </div>
        {{ formManage.valid }}
    </form>
</div>
