// colors used in CWS-WIS2 app:
$primary-cyan: #009ee1;
$primary-gray: #4f4f4f;
$primary-grey: #4f4f4f;
$primary-white: #ffffff;

$secondary-red: #d40a22;
$secondary-yellow: #ffba00;
$secondary-green: #3da434;

$secondary-cyan: #e5f5fc;
$bg-color: #ebf7fd;
